kind: PersistentVolumeClaim
apiVersion: v1

metadata:
  name: gen-ai-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: data-2
  volumeMode: Filesystem