name: Build and Push Docker image (docker branch only)

on:
  push:
    branches:
      - docker

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        working-directory: ./gen-ai-playground/backend
        run: |
            docker build . --tag ghcr.io/${{ github.repository_owner }}/fastapi-backend:latest
            docker run -d ghcr.io/${{ github.repository_owner }}/fastapi-backend:latest
            docker push ghcr.io/${{ github.repository_owner }}/fastapi-backend:latest