name: Build and Push Docker image (main branch only)

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
        env:
          OWNER: '${{ github.repository_owner }}'

      - name: Build and push Docker image for Backend
        working-directory: ./gen-ai-playground/backend
        run: |
            docker build . --tag ghcr.io/${{ env.OWNER_LC }}/fastapi-backend:latest
            docker run -d ghcr.io/${{ env.OWNER_LC }}/fastapi-backend:latest
            docker push ghcr.io/${{ env.OWNER_LC }}/fastapi-backend:latest

      - name: Build and push Docker image for Frontend
        working-directory: ./gen-ai-playground/frontend
        run: |
            docker build . --tag ghcr.io/${{ env.OWNER_LC }}/vite-frontend:latest
            docker run -d ghcr.io/${{ env.OWNER_LC }}/vite-frontend:latest
            docker push ghcr.io/${{ env.OWNER_LC }}/vite-frontend:latest